@using VideoGames.MVC.Models

@model List<VideoGameCDkeyModel>

<h2>CD Key Listesi</h2>

<a asp-action="Add" asp-route-videoGameId="@ViewBag.VideoGameId" class="button"><i class="fas fa-plus"></i> Yeni CD Key Ekle</a>

<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>CD Key</th>
            <th>Kullanıldı mı?</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var key in Model)
        {
            <tr>
                <td>@key.Id</td>
                <td>@key.CDkey</td>
                <td>@(key.IsUsed ? "✅" : "❌")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@key.Id" class="button"> Güncelle </a>
                    <a asp-action="Delete" asp-route-id="@key.Id" class="button"> Sil </a>
                </td>
            </tr>
        }
    </tbody>
</table>
